header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.stockcake.com/public/c/5/b/c5b76d44-5740-4553-a4b8-f96aca361f6e_large/modern-office-interior-stockcake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
}

nav {
    display: flex;
    gap: 1rem;
    background-color: white;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

header div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hire-button {
    margin-right: auto;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
}

.hire-button:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem 2rem 1rem;
    width: 100%;
    max-width: 1024px;
}

header div:nth-of-type(2) {
    text-align: start;
    width: 100%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}


