header {
    background-image: url('https://espressocanada.com/cdn/shop/articles/Blog_Best_Machines_for_the_Office_1600x.jpg?v=1580999417');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 10px;
}

.center {
    text-align: center;
}

.header-content {
    color: white;
    padding: 0 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    margin: auto;
    margin-top: 2rem;
    width: 100%;
    max-width: 1200px;
}

.service-heading {
    text-align: center;
}

.service {
    padding: 0 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
}

.service-img {
    width: 100%;
    max-width: 500px;
    height: 400px;
    object-fit: cover;
}

.service-img:hover {
    padding: 5px;
    transition: 1s;
}

.service-content {
    text-align: center;
}

.mentor {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.mentor-img {
    width: 100%;
    max-width: 100px;
    height: 100px;
    object-fit: cover;
}

.mentor-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact {
    padding: 0 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .about {
        display: flex;
    }

    .service-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 2rem;
    }

    .service-wrapper::after {
        content: "";
        width: 500px;
    }
}